body{
    text-align: center;
}
.section_1{
    /* padding-top: 100px;
    padding-bottom: 100px; */
    width: 100%;
    height: 500px;
    background-image: url(Bengaluru’s-Vidhana-Soudha.jpg);
    background-size: contain; 
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
.wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
#heading{
    width: fit-content;
    border-radius: 5px;  
    padding: 5px 15px;
    background-color:rgb(13, 104, 177);
    margin-bottom: 5px;  
}
#text{
    margin-top: 0px;
    border-radius: 5px;  
    padding: 5px 15px;
    background-color:rgb(4, 43, 68);
}
#secondheading{
    color:rgb(21, 21, 60);
    text-align: center; 
}
.section_2{
    margin-top: 10px;
    color:rgb(25, 25, 76);
    display: flex;
    justify-content: space-around;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.concert_section{

    width:250px; 
}
.garden_section{

    width:250px;
}
.food_section{
    width:250px;     
}
.image{
    margin-right: auto;
    margin-left: auto;  
    border-radius: 50%;
}
.section_3{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    background-color: rgb(109, 201, 201);
    color:rgb(14, 26, 81);
    display: flex;
    justify-content: space-around;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 5px solid blue;
}
